# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# Miscellaneous
*.log
.DS_Store 